<!DOCTYPE html>
<html lang="fr" style='background-color : black'>
	<head>
		<title>ConveMP4</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div style='padding : 20px; position : fixed; width : 800px;'>
			<h1 class='title' style='color : black; font-size : 5em; text-shadow : 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;'>ConvMP4</h1><br/><br/><br/>
			<form method='post' style='margin-left : 100px;' action=''>
				<label for='inputnamesong' style='color : black; font-weight : bold; font-size : 2.3em; text-shadow : 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;'>Titre de la vidéo :<br/></label>
				<input style='background-color : black; color : white; font-size : 2em; width : 100%; padding-left : 5px; border : white 3px solid; border-radius : 10px;' autocomplete='off' type='text' placeholder='Entrez le titre de la vidéo' name='inputnamesong' required autofocus><br/><br/><br/>
				<button style='font-size : 2em; background-color : black; color : white; border : white 3px solid; border-radius : 10px;' type='submit'>Télécharger la vidéo</button>
			</form>
		</div>
		<!--<div style='postion : absolute; float : right; border : white 2px solid; border-radius : 15px; width : 400px; height : 500px; overflow : auto; padding : 10px;scrollbar-width : thin; scrollbar-color: white black;'>
			<table style='width : 100%;'>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : green; font-weight : bold;'>Finished</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : green; font-weight : bold;'>Finished</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : blue; font-weight : bold;'>Downloading</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : red; font-weight : bold;'>Failed</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : red; font-weight : bold;'>Failed</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : red; font-weight : bold;'>Failed</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : red; font-weight : bold;'>Failed</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
				<tr>
					<td style='width : 30%; vertical-align : middle;'><p style='font-size : 1.2em; color : red; font-weight : bold;'>Failed</p></td>
					<td><p style='color : white; font-size : 1.2em;'>Alone alan walker feat alan walker feat jim josef</p><hr style='color : white;'></td>
				</tr>
			</table>
		</div>-->
	</body>
</html>